* {
	max-width:100%;
	width:auto;
	height:auto;
	-webkit-text-size-adjust:none;
	//-webkit-tap-highlight-color:rgba(0,100,220,0.4);
}

a {
	//color:#404040;
	font-weight:bold;
	text-decoration:none;
	
	color: #A50000;
}

#header {
	position: relative;
	display: block;
	margin-bottom: 10px;
	padding: 10px 0px 10px 0px; /* with disclosure padding-right = 25 */
	border-bottom: 2px solid #000;
	border-top: 2px solid #000;
}

#header:active {

}

#header #title {
	display: block;
	position: relative;
	text-decoration: none;
	font-size: 1.4em;
	font-weight: bold;
	color: #000000; /*color: header title */
}

#header:active #title {

}

#author {
	display: block;
	font-size: 1em;
	color: #888;
	padding-bottom: 1px;
	min-height: 1px;
}

#date {
	display: block;
	font-size: 0.8em;
	color: #aaa;
	text-align: right;
	padding: 0 0 5px 0;
	margin-bottom:10px;
}

#subscription {
	font-family:"Copperplate";
	font-weight: bold;
	text-align: center;
	display: block;
	font-size: 1.2em;
	padding-bottom: 1px;
	min-height: 1px;
}

img, embed, object, video, iframe {



	padding: 5px;
    margin:0px;
    border:1px solid #DCDCDC;
	max-width:98%;
}

.img-1,
.wp-smiley,
.feedflare img,
img[src*='/smilies/'],
img[src*='.feedburner.com/~ff/'],
img[data-src*='/smilies/'],
img[data-src*='.feedburner.com/~ff/'] {
	border: 0 !important;
	outline: 0 !important;
	margin: 0 !important;
	background-color: transparent;
}

img[src*='.feedburner.com/~r/'],
img[data-src*='.feedburner.com/~r/'] {
	display: none
}

body {
	border-style:initial;
	font-family:sans-serif;
	//margin:50px;
	margin-top:10px;
	text-rendering:auto;
	font-size:1.3em;//11pt;
	
	margin: 50px 80px;
	color: #0A0A0A;
	background-color: #F4F4F4
}

@media only screen and (max-device-width: 480px) {
	body {
		margin:0px 30px;
	}
}

.syndi-content {
	font-size:1em;
	line-height:1.8em;
}




hr {
    height: 1px;
    color: #DCDCDC;
    background-color: #DCDCDC;
    border: 0;
}